  <section id="Temario">
    <div class="container">
      <section class="features8 cid-qpV9Sf0lMm" id="features8-8r" data-rv-view="7470">
        <div class="container">
          <div class="media-container-row">
            <div class="title col-12 align-center">
              <h2 class="pb-3 mbr-fonts-style display-2 titulo-h2">TEMARIO</h2>
              <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">Lista de los temas que se verán en el evento</h3>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="media-container-row">
            <div class="card  col-12 col-md-6 col-lg-4">
              <div class="card-img pb-3">
                <span class="mbri-desktop mbr-iconfont" media-simple="true"></span>
              </div>
              <div class="card-box align-center">
                <h4 class="card-title py-3 mbr-fonts-style display-7">AUDITORÍA</h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  Es el estudio que comprende el análisis y gestión de sistemas llevado a cabo por profesionales para identificar, enumerar y posteriormente describir las diversas vulnerabilidades que pudieran presentarse en una revisión exhaustiva de las estaciones de trabajo.<br><br>La auditoría supone la revisión y evaluación de los controles y sistemas de informática, así como su utilización, eficiencia y seguridad en la empresa, la cual procesa la información. Gracias a la auditoría se garantiza una adecuada toma de decisiones.
                </p>
                <div class="mbr-section-btn text-center"></div>
              </div>
            </div>
            <div class="card  col-12 col-md-6 col-lg-4">
              <div class="card-img pb-3">
                <span class="mbri-touch mbr-iconfont" media-simple="true"></span>
              </div>
              <div class="card-box align-center">
                <h4 class="card-title py-3 mbr-fonts-style display-7">COBIT 2019</h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  COBIT fue creado para ayudar a las organizaciones a obtener el valor óptimo de TI manteniendo un balance entre la realización de beneficios, la utilización de recursos y los niveles de riesgo asumidos.  COBIT posibilita que TI sea gobernada y gestionada en forma holística para toda la organización,  tomando en consideración el negocio y áreas funcionales de punta a punta así como los interesados internos y externos.  COBIT se puede aplicar a organizaciones de todos los tamaños, tanto en el sector privado, público o entidades sin fines de lucro.
                </p>
                <div class="mbr-section-btn text-center"></div>
              </div>
            </div>
            <div class="card  col-12 col-md-6 col-lg-4">
              <div class="card-img pb-3">
                <span class="mbri-responsive mbr-iconfont" media-simple="true"></span>
              </div>
              <div class="card-box align-center">
                <h4 class="card-title py-3 mbr-fonts-style display-7">ETHICAL HACKING</h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  El objetivo fundamental del Ethical Hacking es explotar las vulnerabilidades existentes en los sistemas, haciendo pruebas de intrusión, que sirven para verificar y evaluar la seguridad física y lógica de los sistemas de información, redes de computadoras, aplicaciones web, bases de datos, servidores, etc. Gracias al ETHICAL HACKING se logra isminuir el tiempo y esfuerzo requeridos para afrontar situaciones de riesgo. El Ethical Hacking es pues una herramienta de gran valía para las organizaciones que buscan proteger la información alojada en sus sistemas.
                </p>
                <div class="mbr-section-btn text-center"></div>
              </div>
            </div>
          </div>
          <div class="media-container-row">
            <div class="card  col-12 col-md-9 col-lg-6">
              <div class="card-img pb-3">
                <span class="mbri-touch mbr-iconfont" media-simple="true"></span>
              </div>
              <div class="card-box align-center">
                <h4 class="card-title py-3 mbr-fonts-style display-7">PLAN DE CONTINUIDAD DE NEGOCIO</h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  Un plan de continuidad del negocio (o sus siglas en inglés BCP, por Business Continuity Plan) es un plan logístico para la práctica de cómo una organización debe recuperar y restaurar sus funciones críticas parcial o totalmente interrumpidas dentro de un tiempo predeterminado después de una interrupción no deseada o desastre. En los Estados Unidos, las entidades gubernamentales se refieren al proceso como planificación de continuación de operaciones (en inglés Continuity Of Operations Planning, o sus siglas COOP)
                </p>
                <div class="mbr-section-btn text-center"></div>
              </div>
            </div>
            <div class="card  col-12 col-md-9 col-lg-6">
              <div class="card-img pb-3">
                <span class="mbri-responsive mbr-iconfont" media-simple="true"></span>
              </div>
              <div class="card-box align-center">
                <h4 class="card-title py-3 mbr-fonts-style display-7">GOBIERNO DE TI</h4>
                <p class="mbr-text mbr-fonts-style display-7">
                  El Gobierno de TI consiste en un completo marco de estructuras, procesos y mecanismos relacionales. Las estructuras implican la existencia de funciones de responsabilidad, como los ejecutivos y responsables de las cuentas de TI, así como diversos comités de TI. Los procesos se refieren a la monitorización y a la toma de decisiones estratégicas de TI. Los mecanismos relacionales incluyen las alianzas y la participación de la empresa/organización de TI, el diálogo en la estrategia y el aprendizaje compartido.
                </p>
                <div class="mbr-section-btn text-center"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="Ponentes">
    <div class="container">
      <div class="row">
        <section class="testimonials1 cid-qpgOWqRveh" id="testimonials1-3v" data-rv-view="6884">
          <div class="container">
            <div class="media-container-row">
              <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2 titulo-h2">
                  PONENTES
                </h2>
                <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">
                  Lista de los ponentes que asistirán al evento
                </h3>
              </div>
            </div>
          </div>
          <div class="container pt-3 mt-2">
            <div class="media-container-row">
              <div class="mbr-testimonial p-3 align-center col-12 col-md-9 col-lg-6">
                <div class="panel-item p-3">
                  <div class="card-block">
                    <div class="testimonial-photo">
                      <img src="app/img/ponente/Romulo.png" alt="Rómulo Lomparte" title="" media-simple="true">
                    </div>
                    <p class="mbr-text mbr-fonts-style display-8">
                      MBA, PMP, CGEIT, CRISC, IRCA, IATCA, ISO 27002, COBIT 5 Foundations, CRMA, CISM y CISA, graduados en Ciencias de la Computación con más
                      de 20 años de experiencia. <br><br>Amplia experiencia en el uso de Cobit y la participación en los procesos de certificación Sarbanes-Oxley.
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="mbr-author-name mbr-bold mbr-fonts-style display-8">
                      Rómulo Lomparte
                    </div>
                    <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-8">
                      Docente universitario en UPC
                    </small>
                  </div>
                </div>
              </div>
              <div class="mbr-testimonial p-3 align-center col-12 col-md-9 col-lg-6">
                <div class="panel-item p-3">
                  <div class="card-block">
                    <div class="testimonial-photo">
                      <img src="app/img/ponente/Omar.jpg" alt="Omar Palomino" title="" media-simple="true">
                    </div>
                    <p class="mbr-text mbr-fonts-style display-8">
                      Ingeniero de Sistemas con una maestría en Gestión de tecnologías de información en la Universidad San Martín de Porres (USMP) – Perú. <br><br>Certificado: C|EHv6, C|EHv7, CPTE (Certified Penetration Testing), Security + , ITIL v3 y próximo CISM.
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="mbr-author-name mbr-bold mbr-fonts-style display-8">
                      Omar Palomino
                    </div>
                    <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-8">
                      Especialista en Gestión de Tecnologías de Información.
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-container-row">
              <div class="mbr-testimonial p-3 align-center col-12 col-md-9 col-lg-6">
                <div class="panel-item p-3">
                  <div class="card-block">
                    <div class="testimonial-photo">
                        <img src="app/img/ponente/Jorge.jpg" alt="Jorge Salazar" title="" media-simple="true">
                    </div>
                    <p class="mbr-text mbr-fonts-style display-8">
                       Auditor Interno CIA y Evaluador de Calidad de la Auditoría Interna por IIA. Especialidades: Gobierno, Riesgos, Control y Auditoría, Gestión por Procesos, Seguridad de la Información,Tecnología Electoral y Sistemas Comerciales. COBIT, ISO 27000, ISO 31000, ACL.
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="mbr-author-name mbr-bold mbr-fonts-style display-8">
                       Jorge Salazar Heredia
                    </div>
                    <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-8">
                      Experto en Gobierno, Gestión y Control de Tecnologías e Información
                    </small>
                  </div>
                </div>
              </div>
              <div class="mbr-testimonial p-3 align-center col-12 col-md-9 col-lg-6">
                <div class="panel-item p-3">
                  <div class="card-block">
                    <div class="testimonial-photo">
                      <img src="app/img/ponente/Alberto.png" alt="Alberto Mendoza" title="" media-simple="true">
                    </div>
                    <p class="mbr-text mbr-fonts-style display-8">
                      Ingeniero de Sistemas, Gestor de Proyectos de TI. Especialista en gobierno de TI, con estudios especializados de Auditoría de sistemas en la Escuela Nacional de Control de la Contraloria General de la República y en ISACA. Poseedor de la Certificación CISA de ISACA.
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="mbr-author-name mbr-bold mbr-fonts-style display-8">
                      Alberto Mendoza
                    </div>
                    <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-8">
                      Gerente General en Business Solution Enterprise SAC
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section id="Cronograma">
    <br><br><br>
    <div class="container">
      <section class="timeline1 cid-qpgHWclFyn" id="timeline1-2l" data-rv-view="7774" ng-if="ctrl.fechaVenta">
        <div class="container align-center">
          <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2 titulo-h2">
            Cronograma
          </h2>
          <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
            Cronograma que se verá en el evento
          </h3>
          <div class="container timelines-container" mbri-timelines="">
            <div class="row timeline-element reverse separline">
              <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                <div class="time-line-date-content">
                  <p class="mbr-timeline-date mbr-fonts-style display-5">
                    09:30 AM - 10:50 AM
                  </p>
                </div>
              </div>
              <span class="iconBackground"></span>
              <div class="col-xs-12 col-md-6 align-right">
                <div class="timeline-text-content">
                  <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                    1era Conferencia
                  </h4>
                  <p class="mbr-timeline-text mbr-fonts-style display-7">
                    Auditoria de sistemas aksjdaksjdksjdkasjdksjdkasjdkasdjaskjd
                    <br>
                    Ing. Saba Sanchez Jhon
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="Precios">
    <div class="container">
      <div class="row">
        <section class="cid-qpgAAUeztq" id="pricing-tables3-23" data-rv-view="7642" style="margin-left: auto; margin-right: auto;">
          <div class="container">
            <div class="container">
              <div class="media-container-row">
                <div class="title col-12 align-center">
                  <h2 class="pb-3 mbr-fonts-style display-2 titulo-h2">{{ctrl.titulo_precios}}</h2>
                  <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">Lista de los precios para asistir al evento</h3>
                </div>
              </div>
            </div>
            <div class="media-container-row m-l-10" ng-if="!ctrl.fechaVenta">
              <div class="col-12 col-lg-4 col-md-6 my-3">
                <div class="pricing">
                  <div class="plan-header" align="center">
                    <div class="plan-price">
                      <span class="price-value mbr-fonts-style display-5">S/.</span>
                      <span class="price-figure mbr-fonts-style display-1">45</span>
                      <h3 class="plan-title mbr-fonts-style display-5">Asociado ISACA</h3>
                      <hr>
                    </div>
                  </div>
                  <div class="plan-body">
                    <p class="mbr-text mbr-fonts-style display-7">
                      <li>Coffe break</li>
                      <li>Certifiacion ISACA</li>
                      <li>Materiales</li>
                    </p>
                    <div class="mbr-section-btn pt-4 text-center">
                      <a href="#!/inscripcion-estudiante" class="btn btn-primary fondo-morado-isaca">Inscribirte</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4 col-md-6 my-3">
                <div class="pricing">
                  <div class="plan-header" align="center">
                    <div class="plan-price">
                      <span class="price-value mbr-fonts-style display-5">S/.</span>
                      <span class="price-figure mbr-fonts-style display-1">50</span>
                      <h3 class="plan-title mbr-fonts-style display-5">Estudiante</h3>
                      <hr>
                    </div>
                  </div>
                  <div class="plan-body">
                    <p class="mbr-text mbr-fonts-style display-7">
                      <li>Coffe break</li>
                      <li>Certifiacion ISACA</li>
                      <li>Materiales</li>
                    </p>
                    <div class="mbr-section-btn pt-4 text-center">
                      <a href="#!/inscripcion-estudiante" class="btn btn-primary fondo-morado-isaca">Inscribirte</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4 col-md-6 my-3">
                <div class="pricing">
                  <div class="plan-header" align="center">
                    <div class="plan-price">
                      <span class="price-value mbr-fonts-style display-5">S/.</span>
                      <span class="price-figure mbr-fonts-style display-1">65</span>
                      <h3 class="plan-title mbr-fonts-style display-5">Egresado</h3>
                      <hr>
                    </div>
                  </div>
                  <div class="plan-body ">
                    <p class="mbr-text mbr-fonts-style display-7">
                      <li>Coffe break</li>
                      <li>Certifiacion ISACA</li>
                      <li>Materiales</li>
                    </p>
                    <div class="mbr-section-btn pt-4 text-center">
                      <a href="#!/inscripcion-egresado" class="btn btn-primary fondo-morado-isaca">Inscribirte</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-container-row m-l-10" ng-if="ctrl.fechaVenta">
              <div class="col-12 col-lg-4 col-md-6 my-3">
                <div class="pricing">
                  <div class="plan-header" align="center">
                    <div class="plan-price">
                      <span class="price-value mbr-fonts-style display-5">S/.</span>
                      <span class="price-figure mbr-fonts-style display-1">45</span>
                      <h3 class="plan-title mbr-fonts-style display-5">Asociado ISACA</h3>
                      <hr>
                    </div>
                  </div>
                  <div class="plan-body">
                    <p class="mbr-text mbr-fonts-style display-7">
                      <li>Coffe break</li>
                      <li>Certifiacion ISACA</li>
                      <li>Materiales</li>
                    </p>
                    <div class="mbr-section-btn pt-4 text-center">
                      <a href="https://mobirise.com" class="btn btn-primary fondo-morado-isaca">Inscribirte</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4 col-md-6 my-3">
                <div class="pricing">
                  <div class="plan-header" align="center">
                    <div class="plan-price">
                      <span class="price-value mbr-fonts-style display-5">S/.</span>
                      <span class="price-figure mbr-fonts-style display-1">65</span>
                      <h3 class="plan-title mbr-fonts-style display-5">Estudiante</h3>
                      <hr>
                    </div>
                  </div>
                  <div class="plan-body">
                    <p class="mbr-text mbr-fonts-style display-7">
                      <li>Coffe break</li>
                      <li>Certifiacion ISACA</li>
                      <li>Materiales</li>
                    </p>
                    <div class="mbr-section-btn pt-4 text-center">
                      <a href="https://mobirise.com" class="btn btn-primary fondo-morado-isaca">Inscribirte</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4 col-md-6 my-3">
                <div class="pricing">
                  <div class="plan-header" align="center">
                    <div class="plan-price">
                      <span class="price-value mbr-fonts-style display-5">S/.</span>
                      <span class="price-figure mbr-fonts-style display-1">80</span>
                      <h3 class="plan-title mbr-fonts-style display-5">Egresado</h3>
                      <hr>
                    </div>
                  </div>
                  <div class="plan-body ">
                    <p class="mbr-text mbr-fonts-style display-7">
                      <li>Coffe break</li>
                      <li>Certifiacion ISACA</li>
                      <li>Materiales</li>
                    </p>
                    <div class="mbr-section-btn pt-4 text-center">
                      <a href="" class="btn btn-primary fondo-morado-isaca">Inscribirte</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section id="Inscribete">
    <div class="container">
      <div class="media-container-row">
        <div class="title col-12 align-center">
          <h2 class="pb-3 mbr-fonts-style display-2 titulo-h2">PRE INSCRIPCIÓN</h2>
          <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">
            Puedes reservar tu cupo en el V UNT ISACA Full Day llenando correctamente el siguiente formulario
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 order-md-12 ">
          <h4 class="mb-3">Datos Personales</h4>
          <form action="sendmail.php" method="post" class="needs-validation" validate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Nombres</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" required>
                <div class="invalid-feedback">
                  Es necesario un nombre válido.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Apellidos</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" required>
                <div class="invalid-feedback">
                  Es necesario un apellido válido.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="university">Universidad</label>
                <select ng-options="universidad for universidad in ctrl.universidades" class="custom-select d-block w-100 form-control" id="university" name="university" ng-model="ctrl.universidad_escogida" required>
                  <option value="" disabled>Seleccione su universidad</option>
                </select>
                <div class="invalid-feedback">
                  Es necesario seleccionar uno.
                </div>
              </div>
              <div class="col-md-6 mb-3" ng-if="ctrl.universidad_escogida == 'Otra'">
                <label for="otherUniversity">Universidad</label>
                <input type="text" class="form-control" id="otherUniversity" name="otherUniversity" placeholder="Ingrese el nombre de su universidad" required>
                <div class="invalid-feedback">
                  Es necesario el nombre de su universidad.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="academicLevel">Nivel académico</label>
                <select ng-options="nivel for nivel in ctrl.niveles" class="custom-select d-block w-100 form-control" id="academicLevel" name="academicLevel" ng-model="ctrl.nivelAcademico" required>
                  <option value="" disabled>Seleccione</option>
                </select>
                <div class="invalid-feedback">
                  Es necesario seleccionar uno.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="telephone">Teléfono</label>
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="" required>
                <div class="invalid-feedback">
                  Es necesario un teléfono válido.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="email">Correo Electronico</label>
              <div class="input-group">
                <div class="input-group-prepend"></div>
                <input type="email" class="form-control" id="email" name="email" placeholder="tu@ejemplo.com" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Es necesario un correo eléctronico válido.
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Acepto los términos y condiciones</label>
            </div>
            <hr class="mb-4">
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block fondo-morado-isaca" type="submit" value="Send" style="margin: 0px !important;">Registrarse</button><br><br><br>
          </form>
        </div>
      </div>
    </div>
  </section>
